body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: black;
}

header {
  background-color: #007bff;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a, nav button {
  color:white;
  margin: 0 10px;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

nav a:hover, nav button:hover {
  text-decoration: underline;
}

section {
  background: red;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  width: 180px;
  border-radius: 8px;
  background-color:yellow;
  text-align: center;
}

.product button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.product button:hover {
  background-color: #218838;
}

.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
}

input {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

button {
  padding: 8px 12px;
}

.msg {
  margin-top: 10px;
  color: green;
}

.msg.error {
  color: red;
}

footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
}